// $activeColor: #f53d3d;
$activeColor: #D3D3D3;

.side-header {
  background: url("../assets/img/background.png") center center transparent;
  background-size: cover;
  position: relative;
  height: 154px;

  .overlay {
    padding: 24px 16px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.27);
  }

  .avatar {
    width: 64px;
    border-radius: 999em;
  }

  .side-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
  }
}

multilevel-menu {
  // .category-lvl-2 {
  //   // font-weight: 700;
  // }

  .item.active {
    background-color: $activeColor;
    // color: #fff;
    color: #000;
    .item-inner {
      border: none;
    }
  }

  ion-item{
    cursor: pointer;
  }

  ion-item:hover{
    background-color: whitesmoke
  }

}


