<ion-list class="category-tree">
  <!-- Level 1 -->
  <div *ngFor="let cat of categories">
    <ion-item class="category-lvl-1" (click)="toggleCat(cat)" [ngClass]="{'active': isActive(cat)}">
      {{cat.name}}
      <ion-note *ngIf="cat.items.length" item-right>
        <ion-icon name="{{isCatShown(cat) ? 'ios-arrow-down' : 'ios-arrow-forward'}}"></ion-icon>
      </ion-note>
    </ion-item>

    <!-- Level 2 -->
    <div *ngIf="isCatShown(cat)" [@expand]="isCatShown(cat)">
      <div *ngFor="let subCat of cat.items">
        <ion-item class="category-lvl-2" (click)="toggleSubCat(subCat)" [ngClass]="{'active': isActive(subCat)}">
          <ion-icon name="{{subCat.icon}}" item-left></ion-icon>
          {{subCat.name}}
          <ion-note *ngIf="subCat.items.length" item-right>
            <ion-icon name="{{isSubCatShown(subCat) ? 'remove' : 'add'}}"></ion-icon>
          </ion-note>
        </ion-item>

        <!-- Level 3 -->
        <div *ngIf="isSubCatShown(subCat)" [@expand]="isSubCatShown(subCat)">
          <div *ngFor="let item of subCat.items">
            <ion-item class="category-lvl-3" (click)="triggerOnSelect(item)" [ngClass]="{'active': isActive(item)}">
              <ion-icon name="{{item.icon}}" item-left></ion-icon>
              {{item.name}}
            </ion-item>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-list>
