<h2>Upload a Home Slider</h2>
<form #form>
  <input id="file" name="file" type="file" multiple="multiple">
  <br>
  <button [disabled]="buttonDisabled" ion-button (click)="upload()" type="button">Upload</button>
</form>


<h2>Home Slider Gallery</h2>

<ion-grid style="overflow:hidden;">
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 class='greyBackgroud smMargin'  *ngFor="let img of imageList | async">
      <img [src]="img.downloadURL | async" style="max-width:150px;max-height:150px;">
      <button (click)="delete(img)" style="position:absolute;top:2px;right:2px;">[x]</button>
    </ion-col>

  </ion-row>

</ion-grid>
