<ion-header>
  <heading-bar pageName="Events"></heading-bar>
</ion-header>


<ion-content padding>

  <div class="boxWhite smPadding smMargin " *ngIf="beforeNow('09/10/2018')">
    <hr class="divider">
    <h2 class="text-center text-lg  noVerticalMargin"><strong>Back to Church Sunday</strong></h2>
    <h3 class="text-center text-md  noVerticalMargin">Sunday, September 9</h3>
    <hr class="divider">

    <p class="text-md smMargin">
      Come for our regular worship service at 11:00 a.m., where we will have a special recognition for our local first
      responders.
      Following the service, stay for an afternoon full of food, fun, and fellowship! We will begin with a potluck
      lunch. Hot
      dogs and sloppy joes will be provided. Bring a dish to share. Afterwards we will have a Corn Hole tournament
      (with prizes),
      water balloons, sidewalk chalk, sack races, and board games. Hope to see everyone there! Bring a friend!
    </p>
  </div>

  <div class="boxWhite smPadding smMargin " *ngIf="beforeNow('9/30/2018')">
    <hr class="divider">
    <h2 class="text-center text-lg  noVerticalMargin"><strong>Pork on a Fork</strong></h2>
    <h3 class="text-center text-md  noVerticalMargin">Saturday, September 29</h3>
    <h3 class="text-center text-md  noVerticalMargin">5 p.m.- 7 p.m</h3>
    <hr class="divider">

    <p class="text-md smMargin">
      Dessert Auction at 6 p.m.
      <br />
      Tickets: $8.00 adults or $5.00 children (ages 2-10).
      <br />
      Includes pulled pork, baked beans, coleslaw & roll.
      <br />
      Desserts available by donation
      <br />
      Tickets may be purchased at the door or by calling 330-725-6176

    </p>

    <a href="/assets/Pork on a Fork.pdf" target="_self" download>
      Flyer
    </a>

  </div>


  <div class="boxWhite smPadding smMargin " *ngIf="beforeNow('10/14/2018')">
    <hr class="divider">
    <h2 class="text-center text-lg  noVerticalMargin"><strong>Car Show</strong></h2>
    <h3 class="text-center text-md  noVerticalMargin">Saturday, October 13</h3>
    <h3 class="text-center text-md  noVerticalMargin">10 a.m.- 2 p.m</h3>
    <hr class="divider">

    <p class="text-md smMargin">
      On Saturday, October 13, from 10 a.m.- 2 p.m., we will be having a Car Show,
      coinciding with the Medina County Fall Foliage Tour. Come show off your fancy care for free.
      There will be free food available (hot dogs, potato salad, water). $1.00 to vote for your
      favorite car and the winter gets a trophy for Best of Show. Bring a chair to sit and chat.
      We are also hoping to have some live music playing. Hope to see you there!
    </p>

    <a href="/assets/Car Show.pdf" target="_self" download>
      Flyer
    </a>

  </div>



</ion-content>
